.button {
    height: 3rem;
    padding: 0 1.5rem;
    background-color: aqua;
    color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 15px 0 rgba(black, .6);
    margin: 10px;
    user-select: none;
}