<div>
    <h1>AppComponent</h1>
    <h2>Всего нажато {{sum}} раз.</h2>
    <my-button [inputText]="button1text" (counterChanged)="onCounterangedHandler($event)"></my-button>
    <my-button [inputText]="'Шоза'" (counterChanged)="onCounterangedHandler($event)"></my-button>
</div>